* {
  box-sizing: border-box;
}
#slogan {
  display: inline-block;
}
#delicious {
  font-family: cursive;
  font-size: 24px;
  margin: 0px 3px;
}
#blog {
  margin: 0px 3px;
  font-size: 8px;
  font-family: sans-serif;
  color: #GGG;
}
#brand {
  float: left;
}
#icons {

  float: right;
}
.iconList {
  list-style-type: none;
  display: inline;
}
header {
  overflow: auto;
  border-bottom: 10px grey dotted;
}
body{
  margin: 2% 5%;
}
#article-info {
  float: left;
  overflow: auto;
  width: 70%;
}
#article-name {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.5px;
  margin: 0;
  width: 50%;
}
#date {
  font-size: 8px;
  color: gray;
  margin: 0;
  width: 50%;
}
#print {
  float: right;
  overflow: auto;
  padding-top: 40px;
}
#printCommand {
  display: inline;
}
.steps{
  text-indent: 30px;
  font-family: 'Crimson Text', serif;
  color: #545050;
}
.ingredients {
  font-family: 'Delius', cursive;
  list-style-type: square;
}
